.category {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  margin: 0.5rem;
  margin-left: 1.2rem;
  cursor: pointer;
  align-items: center;
}

.category:hover {
  background-color: rgba(230, 163, 174, 0.647);
  border-radius: 8px;
}

.category-selected {
  background-color: palevioletred;
  border-radius: 8px;
}

.category p {
  margin-left: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  width: 60%;
}

.category img:nth-of-type(2) {
  position: relative;
  left: 11%;
}
