.dashboard {
  width: 87%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.privateHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.privateHeader p {
  margin-left: 1rem;
  font-size: 1.5rem;
}

.mainView {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.5rem;
  margin-left: 0.7rem;
}

.filmContainer {
  padding: 1rem;
  cursor: pointer;
}

.filmContainer img {
  width: 23rem;
  height: 13rem;
  border-radius: 8px;
}

.filmContainer .text {
  padding: 1rem;
  background: #f9fafd33;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.filmContainer .text .name {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
}

.filmContainer .text .name p {
  margin-left: 1rem;
}

.filmContainer .text img {
  width: 1.5rem;
  height: 1.5rem;
}

.filmContainer .text img:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.listView {
  display: flex;
  flex-direction: row;
  width: 75rem;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.listView:hover {
  background: rgba(255, 255, 255, 0.4);
}

.name {
  display: flex;
  flex-direction: row;
  width: 35%;
  align-items: center;
}

.name p {
  margin-left: 1rem;
  padding: 1rem;
}

.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
  left: 45%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border: 4px solid #fff;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s ease-in-out infinite;
}
.loader::after {
  border-color: #ff3d00;
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.welcome {
  width: 60%;
  min-height: 60%;
  border-radius: 12px;
  background-color: #fff;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome img {
  width: 98%;
  height: 70%;
  padding: 2%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.welcome p {
  color: #000;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 0.5rem;
}

.welcome p:first-of-type {
  width: 45%;
  font-size: 1.5em;
  font-weight: 600;
}

.welcome p:nth-of-type(2) {
  color: #0000009f;
}

.overlayDash {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #0000002f;
}